.admin-container {
    width: 99%;
    height: 900px;
    border: 1px solid #555;
   
  }
  
  .admin-sidebar{

    width: 150px;
  }
  .text-color{
    color: black;
  }

  .drawerstyle{

    width: 15%;;
  }