.register-container{
    width: 350px;
    margin-left: 38%;
    margin-top: 2%;
  
}

.form-check-label{
    size: 3px;
    font-size:small;
    font-weight: lighter;
}
.text-center{
   
    font-style: normal;
    
}