<div class="book-container">
    <!-- Book details section -->
    <div class="book-details">
        <div *ngIf="products" class="book-content">
            <div class="book-image-container"> 
                <img *ngIf="products.productImages?.length" 
                     [src]="baseUrl.baseUrl + '/' + products.path" 
                     [alt]="products.name"
                     class="book-cover-image">
                <img *ngIf="!products.productImages?.length" 
                     src="../../../../../assets/book.png" 
                     [alt]="products.name"
                     class="book-cover-image">
            </div>

            <div class="book-info">
                <h4>{{products.name}}</h4>
                <h6>Aldığım fiyat: {{products.price}} ₺</h6> 
                <div class="description">{{products.description}}</div>
            </div>
        </div>
    </div>

    <div class="comments-wrapper">
        <app-comment></app-comment>
    </div>
</div>

<div class="footer-wrapper">
    <app-footer></app-footer>
</div>

