<footer class="bg-light text-center text-lg-start" style="margin-top: 500px;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Hakkımızda</h5>
  
          <p>
           Bu site kişisel olarak okunan kitaplar hakkında bilgi paylaşıldığı ve sizlerin okumadıysanız kitap hakkında fikir sahibi olmanız,okuduysanız kendi fikirlerinizi belirterek farklı bakış açısı kazanmamızı sağlayan kitap tahlil uygulamasıdır.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Kişisel bilgiler</h5>
  
          <p>
           Merhaba, Ben Ömer Faruk. Bu sitede kendi okuduğum kitapların tahlilini yapmaktayım. 
           Siz değerli okuyucularında yaptığım tahlillerden kitap hakkında bilgi almanızı ve tahlillere yorumlar yapmanızı beklemekteyim.
           Herkese iyi okumalar dilerim :)
          </p>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2025 Copyright:
      <a class="text-dark" href="https://github.com/omerakgn/">
        <img src="../../../../assets/github4.png" style="height: 20px;">github.com/omerakgn</a>
    </div>
    <!-- Copyright -->
  </footer>
  