<div class="row"  >
    <label class="text-center" style="margin-top:3%; font-size:20px;">Merhaba, </label>
    <label class="text-center" >KitapCenneti'ne Hoş Geldiniz!</label>
  </div>
<div class="login-container border">
<form class="row mx-auto" style="padding:20px ;" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group col-md-10 mx-auto" >
      <label for="exampleInputEmail1">E-posta</label>
      <input #txtemail type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName ="email" 
      [ngClass]="{'is-invalid': submitted && component.email.errors}">
      <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.email.errors?.required">Lütfen e-posta adresinizi giriniz.</small>
      <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.email.errors?.email">Lütfen e-posta adresinizi doğru giriniz.</small>
    </div>
    <div class="form-group col-md-10 mx-auto" style="padding:10px ;">
      <label for="exampleInputPassword1">Şifre</label>
      <input #txtpassword type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
      [ngClass]="{'is-invalid': submitted && component.password.errors}" >
      <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.password.errors?.required">Lütfen şifrenizi giriniz.</small>
      <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component.password.errors?.maxlength || component.password.errors?.minlength )" > Şifreniz en az 7, en fazla 100 karakter olmak zorunda.</small>
    </div>
    <button type="submit" class="btn btn-success col-md-10 mx-auto" (click)="login(txtemail.value,txtpassword.value)">GİRİŞ YAP</button>
  </form>
  
</div>