<br>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" >KİTAP CENNETİ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <div class="input-group mx-auto" style="width: 500px;">
            <input type="text" class="form-control me-2" role="search" aria-label="Search" placeholder="Ara" >
            <div class="input-group-append">
              <a ><img src="../assets/find3.jpg" width="30" height="30" /></a>
              
            </div>
          </div>


          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <button class="btn btn-outline-success" type="submit" routerLink="admin" *ngIf="authService.isAdmin">Yönetim paneli</button>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="products">
                <img src="../assets/book.png" width="20" height="20" />
                Kitaplar</a>
            </li>
            
            <li class="nav-item dropdown" *ngIf="!authService.isAuthenticated">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../assets/profile.png" width="25" height="20" />
                Giriş Yap
              </a>
              <ul class="dropdown-menu" >
                
                <li><a class="dropdown-item" routerLink="login">Giriş Yap</a></li>
                <li><a class="dropdown-item" routerLink="register">Kayıt Ol</a></li>
                
              
              </ul>
            </li>
            <li class="nav-item dropdown" *ngIf="authService.isAuthenticated">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../assets/profile.png" width="25" height="20" />
                Hesabım
              </a>
              <ul class="dropdown-menu" >
                
                <li><a class="dropdown-item" routerLink="">Profil</a></li>
                <li><a class="dropdown-item" style="cursor:pointer" (click)= "signOut()" >Çıkış Yap</a></li>
                
              
              </ul>
            </li>
         
        </ul>
        
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <ngx-spinner name="s1" type="ball-spin-clockwise"></ngx-spinner>
  <ngx-spinner name="s2" type="cube-transition"></ngx-spinner>
  