
<mat-form-field class="form-label" appearance="fill">
    <mat-label class="example-label">İsim</mat-label>
    <input matInput #txtName>
  </mat-form-field>

<mat-form-field class="form-label" appearance="fill">
  <mat-label class="example-label">Açıklama</mat-label>
  <input matInput #txtDescription >
</mat-form-field>

<mat-form-field class="form-label" appearance="fill">
  <mat-label class="example-label">Fiyat</mat-label>
  <input matInput #txtPrice type="number" min="0" value="0">
</mat-form-field>

<mat-form-field class="form-label" appearance="fill">
  <mat-label class="example-label">Stok Kodu</mat-label>
  <input matInput #txtStockCode >
</mat-form-field>

<mat-form-field class="form-label" appearance="fill">
  <mat-label class="example-label">Yazar</mat-label>
  <input matInput #txtManifacturer >
</mat-form-field>

<mat-form-field class="form-label" appearance="fill">
  <mat-label class="example-label">Image Link</mat-label>
  <input matInput #txtImage >
</mat-form-field>


<div class="createbtn">
  <button mat-flat-button (click)="create(txtName,txtDescription,txtPrice,txtStockCode,txtManifacturer,txtImage)" >Yeni Ürün Oluştur</button>

</div>