:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-label{
    width: 295px;
    padding: 10px;
    height: 85px;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .createbtn {
    display: table-cell;
    max-width: 600px;
    align-self: center;
  }

  .headerlbl{
   
    height: 70px;
    padding-top: 10px;
    padding-left: 15px;
    font-weight:normal;
    font-size: x-large;
    color: black;
  }